body {
	background-color: beige;
}
#mainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 95vh;
	width: 100%;
}

.item,
.container,
form {
	display: list-item;
}

#mainContainer span,
input {
	display: inline-block;
	min-width: 5rem;
	border: 1px solid slategrey;
	border-radius: 0.3rem;
	padding: 0.3rem 0.7rem;
	text-align: center;
	margin-bottom: 0.2rem;
	height: 1.1rem;
}
#mainCategory > span {
	background-color: #c7b198;
}
#mainCategory > .item > span,
#mainCategory > .container > span {
	background-color: #dfd3c3;
}
span {
	background-color: #f0ece3;
}

input {
	width: 5rem;
}
#mainCategory .container,
.item,
form {
	margin-left: 1.5rem;
}

.controls {
	display: inline-block;
}

.isEditing {
	display: none !important;
}

.controls button {
	margin-left: 0.1rem;
}
.editForm {
	display: inline-block;
	margin-left: 0;
}
